* {
  box-sizing: border-box;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #121212;
  --secondaryBackgroundColor: #272727;
  --thirdBackgroundColor: var(--neutral-50);
  --textColor: #ffffff;
  --textColorInverse: #000000;

  --lightBlueBackgroundColor: #d0f0fd;
  --darkBlueBackgroundColor: #100635;

  /* Shades of purple */
  --purple-900: #390089;
  --purple-700: #4e00bc;
  --purple-600: #5d00df;
  --purple-500: #6200ee;
  --purple-400: #832bff;
  --purple-300: #a565ff;
  --purple-200: #bb8bff;
  --purple-100: #ddc5ff;
  --purple-electric-violet: #902bf5;

  /* Shades of orange */
  --orange-500: #ffc600;
  --orange-400: #ffd523;
  --orange-tang: #ed7e00;

  /* Neutrals Palette */
  --neutral-50: #f8f9fa;
  --neutral-100: #f6f7f9;
  --neutral-200: #e5e7ea;
  --neutral-300: #ced2d6;
  --neutral-400: #9ea5ad;
  --neutral-500: #7f8790;
  --neutral-600: #676e76;
  --neutral-700: #596066;
  --neutral-800: #454c52;
  --neutral-900: #383f45;
  --neutral-1000: #24292e;
}

/* DEFAULT THEME IS DARK */
body {
  --backgroundColor: var(--secondaryBackgroundColor);
  --textColor: #ffffff;
  --thirdBackgroundColor: #27272a;
  --errorColor: #cf6679;
  --navigation-panel-background-color: var(--purple-200);
  --navigation-panel-border-color: var(--neutral-600);
  --navigation-panel-textColor: #ffffff;
  --tab-bottom-borderColor: #5b5a5f;
  --drag-items-hover-background-color: var(--purple-200);
  --file-tree-folder-color: #ffffff;
  --canvas-file-name-color: #61dbfb;
  --javascript-icon-color: #f7df1e;
  --javascript-icon-background-color: transparent;
  --css-icon-background-color: transparent;
  --css-icon-color: #0098ff;
  --file-tree-hover-color: var(--neutral-800);
  --tab-container-color: #818cf8;
}

.theme-light {
  --backgroundColor: #eeeeee;
  --textColor: #000000;
  --thirdBackgroundColor: var(--neutral-50);
  --errorColor: #b00020;
  --navigation-panel-background-color: #4338ca;
  --navigation-panel-border-color: none;
  --navigation-panel-textColor: #ffffff;
  --tag-inputs-backgroundColor: var(--neutral-200);
  --tag-inputs-borderColor: #4338ca;
  --tab-bottom-borderColor: var(--neutral-200);
  --drag-items-hover-background-color: var(--lightBlueBackgroundColor);
  --file-tree-folder-color: var(--orange-500);
  --canvas-file-name-color: #4338ca;
  --javascript-icon-color: black;
  --javascript-icon-background-color: #f7df1e;
  --css-icon-background-color: #0098ff;
  --css-icon-color: white;
  --file-tree-hover-color: var(--neutral-300);
  --react-icon-background-color: #27272a;
  --tab-container-color: #4f46e5;
}

/* THEME BASED ON USER'S OS PREFERENCE */
@media (prefers-color-scheme: dark) {
  body {
    --backgroundColor: var(--secondaryBackgroundColor);
    --textColor: #ffffff;
    --thirdBackgroundColor: var(--secondaryBackgroundColor);
    --errorColor: #cf6679;
    --navigation-panel-background-color: var(--purple-200);
    --navigation-panel-border-color: var(--neutral-600);
    --navigation-panel-textColor: #ffffff;
    --navigation-panel-backgroundColor: var(--green-200);
    --tab-bottom-borderColor: #5b5a5f;
  }
}

@media (prefers-color-scheme: no-preference) {
  body {
    --backgroundColor: var(--secondaryBackgroundColor);
    --textColor: #ffffff;
    --thirdBackgroundColor: var(--secondaryBackgroundColor);
    --errorColor: #cf6679;
    --navigation-panel-background-color: var(--purple-200);
    --navigation-panel-border-color: var(--neutral-600);
    --navigation-panel-textColor: #ffffff;
    --navigation-panel-backgroundColor: var(--green-200);
    --tab-bottom-borderColor: #5b5a5f;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --backgroundColor: var(--secondaryBackgroundColor);
    --textColor: #ffffff;
    --thirdBackgroundColor: var(--secondaryBackgroundColor);
    --errorColor: #cf6679;
    --navigation-panel-background-color: var(--purple-200);
    --navigation-panel-border-color: var(--neutral-600);
    --navigation-panel-textColor: #ffffff;
    --navigation-panel-backgroundColor: var(--green-200);
    --tab-bottom-borderColor: #5b5a5f;
  }
}
