.bodyContainer { 
  display: flex;
  flex: 1 1;
  gap: 30px;
  height: 100%;
}

.bodyContainer > div {
  text-align: center;
}

#headerAndCodePreviewContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  max-width: 35%;
  height: 100%;
}