.bodyContainer {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas: 
  "navigation dnd header header"
  "navigation dnd canvas code"
  "navigation dnd canvas code";
  grid-template-columns: 2% 18% 40% 40%;
  grid-template-rows: 3% auto 25%;
  /* gap: 0.5rem; */
  padding: 0.5rem;
}

.bodyContainer > div {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}