#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-between;
  width: 11rem;
  /* border: 1px solid red; */
}

#button-container button {
  flex: 0 0 2rem;
  font-size: 12px;
  margin: 0.5rem 0.5rem;
  color: var(--purple-200);
  text-transform: uppercase;
  /* font-weight: 600; */
  border: 0.5px solid var(--neutral-700);
  border-radius: 3px;
  background-color: var(--thirdBackgroundColor);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* height: 4vh; */
  padding: 5px 8px;
  /* width: auto; */
}

p { 
  font-size: 15px;
}
