.canvas {
  grid-area: canvas;
  background-color: var(--thirdBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* margin-bottom: 3%; */
  margin-top: 2%; 
  border-radius: 8px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
p { 
  font-size: 18px;
}

#canvas-instruction { 
  color: var(--neutral-600);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#button-error { 
  background-color: var(--errorColor);
  color: var(--backgroundColor);
}

#green-100 { 
  background-color: var(--green-100);
  color: var(--textColorInverse);
}
#green-200 { 
  background-color: var(--green-200);
  color: var(--textColorInverse);
}
#green-300 { 
  background-color: var(--green-300);
  color: var(--textColorInverse);
}
#green-400 { 
  background-color: var(--green-400);
  color: var(--textColorInverse);
}
#green-500 { 
  background-color: var(--green-500);
  color: var(--textColorInverse);
}