.canvas {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  background-color: var(--thirdBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin: 60px 0;
  border-radius: 8px;
  padding: 10px 30px
}
.canvas:hover { 
  /* border: 3px dotted var(--neutral-600); */
  border: 3px dotted var(--navigation-panel-background-color);
}
#canvas-instruction {
  color: var(--neutral-600);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#canvas-item {
  border: 1px solid #4338ca;
}

