.codePreviewContainer {
  grid-area: code;
  background-color: var(--thirdBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 5%;
  margin-right: 2%;
  border-radius: 8px;
  margin-top: 5%;
}

.tabContainer {
  display: flex;
}

.tabs {
  text-align: center;
  width: 50%;
  background: var(--thirdBackgroundColor);
  color: var(--neutral-600);
  cursor: pointer;
  border-bottom: 1px solid var(--tab-bottom-borderColor);
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 14px;
  padding: 10px;
}

.active-tabs {
  background: var(--thirdBackgroundColor);
  border-bottom: 1px solid #4f46e5;
  color: #4f46e5;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 2px;
}

.contentContainer {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}

.codeEditorContainer {
  grid-area: code;
  background-color: var(--thirdBackgroundColor);
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0;
  margin: 0;
}
/* 
[role="tab"].active {
  @apply text-red-600 border-red-600 dark:text-red-500 dark:border-red-500 hover:text-red-600 hover:border-red-600 dark:hover:text-red-500 dark:hover:border-red-500;
} */