.codePreviewContainer {
  position: relative;
  background-color: var(--thirdBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 2%;
  border-radius: 8px;
}

.tabContainer {
  display: flex;
  box-shadow: -0.3rem 0rem 1rem rgb(27, 27, 27);
}

.tabs {
  width: 50%;
  background: var(--thirdBackgroundColor);
  color: var(--neutral-600);
  cursor: pointer;
  border-bottom: 1px solid var(--tab-bottom-borderColor);
  position: relative;
  outline: none;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.active-tab {
  width: 50%;
  cursor: pointer;
  position: relative;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background: var(--thirdBackgroundColor);
  border-bottom: 1px solid var(--navigation-panel-background-color);
  color: var(--navigation-panel-background-color);
  font-weight: 600;
}

.contentContainer {
  flex-grow: 1;
  width: 100%;
  position: absolute;
  height: 100vh;
  text-align: left;
  box-shadow: -0.3rem 0rem 1rem rgb(27, 27, 27);
}
.content {
  width: 100%;
  height: 100%;
  display: none;
  text-align: left;
}
.active-content {
  width: 100%;
  height: 100vh;
  text-align: left;
}

#cssContainer {
  height: 100%;
}
