.codePreviewContainer {
  position: relative;
  background-color: var(--thirdBackgroundColor);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 2%;
  border-radius: 8px;
}

.tabContainer {
  display: flex;
}

.tabs {
  width: 50%;
  background: var(--thirdBackgroundColor);
  color: var(--neutral-600);
  cursor: pointer;
  border-bottom: 1px solid var(--tab-bottom-borderColor);
  position: relative;
  outline: none;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.active-tab {
  width: 50%;
  cursor: pointer;
  position: relative;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background: var(--thirdBackgroundColor);
  border-bottom: 1px solid var(--navigation-panel-background-color);
  color: var(--navigation-panel-background-color);
  font-weight: 600;
}

/* .active-tab::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  width: 100%;
} */

.contentContainer {
  flex-grow: 1;
  width: 100%;
  position: absolute;
  height: 100vh;
  text-align: left;
}
.content {
  width: 100%;
  height: 100%;
  display: none;
  text-align: left;
}
.active-content {
  width: 100%;
  height: 100vh;
  text-align: left;
}

#language-chooser-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.multi-editor-buttons {
  text-align: center;
  width: 50%;
  background: var(--thirdBackgroundColor);
  color: var(--neutral-600);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 12px;
  padding: 8px;
}

.multi-editor-buttons:hover {
  background: var(--neutral-300);
}

#cssContainer {
  height: 100%;
}
