#comp-create-box {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 0.3rem;
}
#create-react-component-header { 
  font-size: 16px;
  color: var(--textColor);
  margin-bottom: 10px;
}
#create-react-component-inputs {
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 0.5rem;
}

#create-react-component-input-field {
  /* width: 8rem;
  font-size: 14px;
  border-radius: 5px;
  height: 20px;
  outline: none;
  background: var(--neutral-600);
  border: none;
  color: var(--textColor);
  opacity: 0.5; */
  display: flex;
  outline: none;
  margin: 0.3rem 0;
  background: var(--tag-inputs-backgroundColor);
  border-radius: 5px;
  width: 7rem;
  font-size: 14px;
  outline: none;
  opacity: 0.5;
  border: 1px solid var(--navigation-panel-background-color);
  color: var(--textColor);
}

#create-react-component-root-check {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* width: 2rem; */
}

#create-react-component-root-check input {
  position: absolute;
  outline: none;
}

#create-react-component-button { 
  margin-top: 0;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 12px;
  background-color: var(--navigation-panel-background-color);
  color: white;
  padding: 4px 20px;
  border-radius: 7px;
  font-weight: 500;
  border: 0px transparent none;
}

#create-react-component-button:active { 
box-shadow: 0 5px #666;
transform: translateY(4px);
}