.dndContainer { 
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--thirdBackgroundColor);
  overflow: hidden;
  max-width: 270px;
  min-width: 230px;
  padding: 30px auto;
}

#app-name {
  font-size: 20px;
  font-weight: 700;
  color: var(--navigation-panel-background-color);
}
 
 
