.dndContainer {
  position: relative;
  padding: 0 !important;
  grid-area: dnd;
  background-color: var(--thirdBackgroundColor);
  /* border-radius: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  overflow: hidden;
  margin-right: 10%;
  max-width: 250px;
  min-width: 230px;
}

#dndBody {
  display: flex;
  position: fixed;
  top: 5%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;
}