#draggable-elements-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 180px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  align-self: center;
  padding-top: 10px;
}
.dragItems p {
  padding: 4px 15px;
  box-shadow: none;
  border-radius: 3px;
  font-weight: 600;
  color: var(--navigation-panel-background-color);
  text-transform: uppercase;
  font-size: 13px;
  overflow: none;
  background-color: var(--thirdBackgroundColor);
}
.dragItems p:hover {
  border-radius: 3px;
  border: 1px solid  var(--navigation-panel-background-color);
}
.dragItems p:active {
  border-radius: 3px;
  border: 1px solid  var(--navigation-panel-background-color);
}