#button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: space-between;
  width: 15rem;
  height: 40vh;
  border: 1px solid red;
}

#button-container div {
  flex: 0 0 5rem;
  margin: 0.5rem;
  color: black;
  background-color: var(--neutral-100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 5vh;
}

.dragItems p {
  position: relative;
  margin: 0.5vh;
  font-size: 1rem;
  min-height: 3vh;
}

/* #button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-between;
  width: 11rem;
}

#button-container button {
  flex: 0 0 2rem;
  font-size: 12px;
  margin: 0.5rem 0.5rem;
  color: var(--purple-200);
  text-transform: uppercase;
  border: 0.5px solid var(--neutral-700);
  border-radius: 3px;
  background-color: var(--thirdBackgroundColor);
  padding: 5px 8px;
}

p { 
  font-size: 15px;
} */
