#draggable-elements-container {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 100%;
  padding: 0px 60px;
  border-radius: 5px;
  align-self: center;
  overflow-y: overlay;
}
.dragItems p {
  padding: 3px 15px;
  margin: 0;
  box-shadow: none;
  border-radius: 3px;
  font-weight: 600;
  color: var(--navigation-panel-background-color);
  text-transform: uppercase;
  font-size: 11px;
  overflow: none;
  background-color: var(--thirdBackgroundColor);
  border: 1px solid var(--navigation-panel-background-color);
  margin-bottom: 5px;
}
.dragItems p:hover {
  border-radius: 3px;
  /* border: 1px solid var(--navigation-panel-background-color); */
  background-color: var(--navigation-panel-background-color);
  cursor: move;
  color: var(--thirdBackgroundColor);
  cursor: move;
}
.dragItems p:active {
  cursor: move;
  border-radius: 3px;
  border: 1px solid var(--navigation-panel-background-color);
  cursor: move;
}
