.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  color: black;
  height: 20rem;
  width: 25rem;
  margin: auto;
  z-index: 5;
}
