.headerContainer {
  flex: 0 0 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#app-name {
  font-size: 14px;
}

/* .theme-toggle { 
  margin-left: 0.5em;
} */

.checkbox { 
  opacity: 0;
  position: absolute;
}

.label {
  width: 32px;
  height: 10px;
  background-color: #454C52;
  display: flex;
  border-radius:50px;
  align-items: center;
  /* margin-left: 90vw; */
  justify-content: space-between;
  padding: 3px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  border-radius: 50%;
  transition: transform 0.2s linear;
  left: 2px; 
  right: 2px;
  background-color: white;
  position: absolute;

  width: 10px;
  height: 10px;

  /* top: 2px;*/
}

/* #clear-canvas-button { 
  margin-top: 5px;
} */

/*  target the element after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(25px);
}

.fa-moon {
  color: var(--lightBlueBackground);
  height: 3px;
}

.fa-sun {
  color: var(--orange-400);
  height: 3px;
}