.headerContainer {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle { 
  margin-left: 30px;
}

.checkbox { 
  opacity: 0;
  position: absolute;
}
.label {
  width: 45px;
  height: 15px;
  background-color: #454C52;
  display: flex;
  border-radius:50px;
  align-items: center;
  margin-left: 90vw;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  /* top: 2px;*/
  left: 2px; 
  right: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the element after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(32px);
}

.fa-moon {
  color: var(--lightBlueBackground);
  height: 13px;
}

.fa-sun {
  color: var(--orange-400);
  height: 13px;
}