#modal-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal {
  position: relative;
  background-color: #1c1c1e;
  color: white;
  flex: 0 1 300px;
  max-height: 450px;
  border-radius: 8px;
  padding-bottom: 20px;
  /* padding: 20px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#login-email-label { 
  size: 13px;
  text-align: left;
  color: white;
}

#login-password-label { 
  size: 13px;
  text-align: left;
  color: white;
}

#login-email-input-field { 
  height: 40px;
  border-radius: 5px;
  background-color: var(--neutral-700);
}

::placeholder { 
  color: white;
  font-size: 12px;
}

#login-password-input-field { 
  height: 40px;
  border-radius: 5px;
  background-color: var(--neutral-700);
}
#login-submit-button { 
  width: 70%;
}
#close-login-form-modal { 
  display: flex;
  justify-content: flex-end;
  margin-left: 90%;
}