.navigation-bar {
  grid-area: navigation;
  background-color: var(--navigation-panel-background-color);
  border-right: 1px solid var(--navigation-panel-border-color);
  display: flex;
  /* opacity: 0.5; */
  flex-direction: column;
}

.fa-pencil-ruler {
  color: #ffffff;
  opacity: 0.8;
}
.fa-cog{
  color: #ffffff;
  opacity: 0.8;
}
.fa-save{
  color: #ffffff;
  opacity: 0.8;
}
.fa-download{
  color: #ffffff;
  opacity: 0.8;
}
.navigation-bar a:hover { 
  background-color: #000;
}

