.navigation {
  grid-area: navigation;
  /* background-color: var(--thirdBackgroundColor); */
  /* border: 0.5px solid var(--neutral-600); */
  background-color: var(--navigation-panel-background-color);
  display: flex;
  /* opacity: 0.5; */
  flex-direction: column;
  justify-content: space-around;
}

.fa-pencil-ruler {
  color: #ffffff;
  opacity: 0.8;
}
.fa-drafting-compass{
  color: #ffffff;
  opacity: 0.8;
}
.fa-cog{
  color: #ffffff;
  opacity: 0.8;
}
.fa-save{
  color: #ffffff;
  opacity: 0.8;
}
.fa-download{
  color: #ffffff;
  opacity: 0.8;
}