#tag-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 250px;
}
#html-tag-creator-container-header {
  font-size: 16px;
  color: var(--textColor);
  margin-bottom: 10px;
}

.tag-name-input-field { 
  display: flex;
  outline: none;
  margin: 0.3rem 0;
  background: var(--tag-inputs-backgroundColor);
  border-radius: 5px;
  width: 10rem;
  font-size: 14px;
  outline: none;
  opacity: 0.5;
  border: 1px solid var(--navigation-panel-background-color);
  color: var(--textColor);
}

.tag-name-labels {
  font-size: 12px;
  display: in-line block;
}

::placeholder {
  color: var(--navigation-panel-background-color);
}

#create-html-tag-submit-button {
  margin-top: 0;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 12px;
  background-color: var(--navigation-panel-background-color);
  color: white;
  padding: 4px 20px;
  margin-top: 1rem;
  border-radius: 7px;
  font-weight: 500;
  border: 0px transparent none;
}
