#tag-create-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid limegreen; */
  margin-bottom: 1rem;
  width: 250px;
}

/* WHY CANT WE MOVE TO THE RIGHT */
.tag-label {
  /* display: flex; */
  /* flex-direction: row; */
  font-size: small;
  margin: 0.25rem;
  margin-top: 0.75rem;
  float: left;
}

.tag-input {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  margin: 0.7rem;
  background: var(--neutral-600);
  width: 7rem;
  margin-left: 3rem;
  outline: none;
  opacity: 0.5;
  border: none;
  color: var(--textColor);
}

#header {
  font-size: medium;
}

#add-element-btn {
  color: var(--textColor);
  background-color: var(--purple-300);
  margin: 1.5rem 0rem 1rem 0rem;
  padding: 4px 20px;
  text-transform: uppercase;
  box-shadow: none;
  border-radius: 3px;
  font-weight: 500;
  border: 0px transparent none;
}

.tag-duo {
  height: 1.5rem;
}
